# Basic Operators

## Arithmetic Operators

One can use operators with numbers as with most other programming languages.

In [3]:
number = 2 + 8 + 9 / 3.2
print (number)
print(type(number))

12.8125
<class 'float'>

In [14]:
number21 = 41 - 20
print(number21)

number100 = 1000 / 10
print(number100)

if 2 > 1:
    print("big")
    
if 3 < 4 < 5:
    print("inbetween")

2 ^ 1

numberstwo = [4,5,6]

if 21 not in numberstwo: 
    print("not true")

21
100.0
big
inbetween
not true

Another operator is the modulo (%) operator, which returns the integer remainder of the division.

In [5]:
remainder = 33 % 2
print(remainder)
print(type(remainder))

1
<class 'int'>

Using two multiplication symbols (**) makes a 'to the power of' relationship.

In [7]:
sqaured = 100 ** 2
cubed = 4 ** 3
print(sqaured)
print(cubed)

10000
64

## Using Operators with Strings

One can concatenate strings using the addition operator:

In [9]:
ManySaintsofNewark = "Many" + " " + "Saints" + " " + "of" + " " + "Newark"
print(ManySaintsofNewark)

Many Saints of Newark

Python can also multiply strings to form a string with a repeating sequence:

In [10]:
ATCG = "atcg" * 100
print(ATCG)

atcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcgatcg

In [45]:
greeting =("hi" + " " + "mate" + " ")* 3
print(greeting)
len(greeting)

if "hi" in greeting:
    print("blahem")
    
digit_string = "0" + "1"
print(digit_string)

if digit_string.isdigit():
    print("blahem")
    
if "hi" < greeting:
    print("tyvm")

print(",".join(["foo","bar"]))

print("foo","bar".split(","))

print(" ".join([greeting.capitalize() for x in "yo yo yo".split()]))

hi mate hi mate hi mate
blahem
01
blahem
tyvm
foo,bar
foo ['bar']
Hi mate hi mate hi mate  Hi mate hi mate hi mate  Hi mate hi mate hi mate

In [51]:
number = 123
print("{number}".format(number=number))

digit_string.find("0")

123

0

In [12]:
greeting_sub = greeting.substring(2,3)

AttributeError: 'str' object has no attribute 'substring'

## Using Operators with Lists

Lists can be joined with addition operators:

In [15]:
New_York = ["johnny","carmine","carminejr","rusty"]
New_Jersey = ["paulie","sil","T","chrissy"]
the_families = New_York + New_Jersey
print(the_families)
print(type(the_families))

['johnny', 'carmine', 'carminejr', 'rusty', 'paulie', 'sil', 'T', 'chrissy']
<class 'list'>

Just like strings, Python supports forming new lists with a repeating sequence using the multiplication operator:

In [16]:
print(["Sil","Paulie","T"]*4)

['Sil', 'Paulie', 'T', 'Sil', 'Paulie', 'T', 'Sil', 'Paulie', 'T', 'Sil', 'Paulie', 'T']

In [19]:
x_list = (["x"]*10)
print(x_list)
y_list = (["y"]*10)
print(y_list)

big_list = x_list + y_list
print(big_list)

['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x']
['y', 'y', 'y', 'y', 'y', 'y', 'y', 'y', 'y', 'y']
['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'y', 'y', 'y', 'y', 'y', 'y', 'y', 'y', 'y', 'y']

In [7]:
list = [1,2,3,4,5,6]
list1 = [10,11,12]
even_members = list[1::2]
print(even_members)

join = list + list1
print(join)

div = 4 // 2
print(div)

if 2 > 1:
    print("blahem")

if 3 < 4 < 5:
    print("yas")

[2, 4, 6]
[1, 2, 3, 4, 5, 6, 10, 11, 12]
2
blahem
yas

In [8]:
a = 121
b = 2

if a and b:
    print("blahem")

blahem

In [9]:
if a not in list:
    print("blahem")

blahem